.tile {
    background-color: grey;
    border-style: inset;
    border-style: outset;
    height: 20px;
    width: 20px;
}

.bombed {
    background-color: rgb(255, 0, 0);
}

.explored {
    background-color: rgb(0, 255, 128);
}

.flagged {
    background-color: blue;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}